branches:
  only:
  - master
  - next

environment:
  nodejs_version: "4.2"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm --version
  - npm run test:coverage

build: off

cache:
  - node_modules
  - '%APPDATA%\npm-cache'
