.App {
  height: 100%;
  min-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.App-flex {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-heading {
  background-color: #343a47;
  color: #f2777a;
  font-size: 6vh;
  z-index: 2;
}

.App-logo {
  max-height: 30vh;
  max-width: 30vh;
}

.App-instructions {
  background-color: #fff;
  color: #000;
  font-size: 3vh;
  line-height: 1.5;
  padding: 0 1em;
}

.App-instructions code {
  background-color: #343a47;
  color: #f2777a;
  padding: .2em .3em;
  border-radius: .2em;
}
